:root {
    --fire: #ff6f61;     
    --electric: #ffcf4c; 
    --grass: #4ecdc4;    
    --ground: #d4a88c;   
    --steel: #8493a8;    
    --rock: #c88268;     
    --water: #4a90e2;    
    --ice: #a1eafb;      
    --psychic: #e573b9;  
    --ghost: #6b6e70;    
    --shadow: #424446;   
    --unknow: #999999;   
    --flying: #6d5e8c;   
    --normal: #b0a18f;   
    --poison: #aa5781;   
    --fighting: #c68642; 
    --bug: #6d3e31;      
    --dragon: #00a884;   
    --fairy: #f68fad;    
    --dark: #3d3d3d;     
}
