*, *::before, *::after {
    box-sizing: border-box;  
}

* {
    margin: 0; 
    padding: 0;
}

button{
    user-select: none;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

body{
    background-color: var(--shadow);;
    background-blend-mode: soft-light, normal;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    position: relative;
}

body::before{
    content:'';
    inset: 0;
    position: absolute;
    background: linear-gradient(180deg, rgb(0 0 0 / 13%) 0%, rgb(0 0 0 / 37%) 47%, rgb(29 29 29 / 80%) 100%);
    z-index: -1;
}

body::after{
    background-image: url(https://cdn.vectorstock.com/i/preview-1x/75/93/pokeball-icon-sign-seamless-pattern-on-a-gray-vector-11297593.jpg);
    content: '';
    inset: 0;
    position: absolute;
    opacity: 0.1;
    z-index: -2;
    filter: opacity(0.32);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid;
    color: white;
}

.nav__buttons {
    display: flex;
    gap: 1rem;
}

.nav__button {
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__button:hover, .pokemon__pomodoro-button:hover {
    transform: scale(1.1);
}

.nav__button img {
    width: 100%;
    height: 100%;
    object-fit:cover;

}

.nav__button--info img{
    height: 115%;
    width: 115%;
}

.data{
    display: flex;
    height: calc(100% - 89.6px);
    overflow-y: auto;
    position: relative;
}

.pokemon{
    position: sticky;
    inset: 0;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
}

.pokemon__timer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -36%;
}

.pokemon__timer-icon{
    height: 15rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon__timer-icon img{
    width: auto;
    height: 100%;
    min-height: 100%;
    min-width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.pokemon__pomodoro{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 14rem;
    position: relative;
}

.pokemon__pomodoro-timer{
    position: relative;
    width: 100%;
}

.pokemon__pomodoro-time{
    color: white;
    font-size: 5rem;
    font-family: var(--font-Londrina);
    font-weight: bolder;
    margin: 0 1rem;
    /* width: 100%; */
    display: inline;
    /* display: inline-flex; */
    /* justify-content: center; */
}

.pokemon__pomodoro-time--overlay{
    position: absolute;
    height: 100%;
    overflow: hidden;
    opacity: 0.6;
    inset: 0;
}

.pokemon__pomodoro-button{
    width: 2.5rem;
}

.pokemon__pomodoro-button img{
    width: 100%;
}

.pokemon__data{
    position: absolute;
    bottom: 1rem;
}

.pokemon__data-id {
    font-family: var(--font-Londrina);
    font-weight: bolder;
    font-size: 8rem;
    margin: 0 1rem;
    opacity: 0.4;
    color: rgba(137, 43, 226, 0.36);
}

.pokemon__data-name {
    font-family: var(--font-Noto);
    font-weight: bold;
    font-size: 7rem;
    margin-left: 2rem;
    margin-top: -6rem;
    text-shadow: -20px -9px 20px #0000003b;
    color: blueviolet;
}

.history{
    margin: 1rem 2rem;
    /* border: 2px solid; */
    width: calc(40vw - 4rem);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 2;
}

.history__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 3px solid var(--card-color);
    width: 100%;
    position: relative;
    z-index: 4;
    /* height: 100%; */
}

.history__item:before {
    content: '';
    position: absolute;
    height: 100%;
    inset: 0;
    background: var(--card-color);
    opacity: 0.3;
    z-index: -1;
}

.history__item-icon {
    border: 3px solid var(--card-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history__item-icon img{
    max-width: 100%;
    max-height: 100%;
}

.history__item-text {
    color: white;
    font-family: var(--font-Noto);
}