@font-face {
    font-family: 'Londrina Solid';
    src: url('./Londrina/LondrinaSolid-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans/NotoSansJP-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans/NotoSansJP-Black.ttf') format('truetype');
    font-weight: 900; 
    font-style: bold; 
}

:root{
    --font-Londrina: "Londrina Solid", Arial, Helvetica, sans-serif; 
    --font-Noto: "Noto Sans", Arial, Helvetica, sans-serif; 
}

h1{
    font-family: var(--font-Londrina);
    font-size: 3rem;
}